@charset "UTF-8";

.read-link-later {
  line-height: 16px !important;
}
.read-link-later-icon {
  cursor: pointer !important;
  height: 15px !important;
  margin-right: 1px !important;
  width: 15px !important;
}